:root {
	--primary-color: #316ddc;
	--accent-color: #68bcad;
	--dark: #333;
	--bright: #eee;
	--border-radius: 5px;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
	}
} */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--dark);
	background: var(--bright);
}

button {
	width: fit-content;
	height: fit-content;
	padding: 15px 30px;
	margin: 20px auto;
	display: flex;
	background-color: var(--primary-color);
	border-width: 0;
	border-radius: var(--border-radius);
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}
